IntelipostMiddleware/wwwroot/
IntelipostMiddleware/obj/
IntelipostMiddleware/bin/
IntelipostMiddleware.Tests/obj/
IntelipostMiddleware.Tests/bin/
.vs/
IntelipostMiddleware.API/obj/
IntelipostMiddleware.API/bin/